@import "../../const.style.scss";

.menu {
  display: flex;
  width: 100%;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
  z-index: 1;

  h1 {
    font-size: calc(60 * var(--res));
    letter-spacing: 0.3em;
  }
  h2 {
    font-size: calc(35 * var(--res));
  }
  h3 {
    font-size: calc(28 * var(--res));
  }
  p,
  button,
  input,
  span {
    font-size: calc(23 * var(--res));
  }

  li {
    font-size: calc(22 * var(--res));
  }

  em {
    font-size: calc(17 * var(--res));
  }

  hr {
    margin-top: calc(5 * var(--res));
    margin-bottom: calc(5 * var(--res));
    width: 95%;
    border-style: none none dashed;
  }
}

.content__rel {
  position: relative;
}

.content__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $bg-color;
  opacity: $opacity-content-bg;
  z-index: -1;
}

.no-animation {
  animation: none;
}

.bounce-in-up {
  animation: 0.4s bounce-in-up forwards;
}

@keyframes bounce-in-up {
  0% {
    transform: translateY(80vh);
  }
  50% {
    transform: translateY(-8vh);
  }
  80% {
    transform: translateY(4vh);
  }
  100% {
    transform: translateY(0);
  }
}

.bounce-in-down {
  animation: 0.4s bounce-in-down forwards;
}

@keyframes bounce-in-down {
  0% {
    transform: translateY(-80vh);
  }
  50% {
    transform: translateY(8vh);
  }
  80% {
    transform: translateY(-4vh);
  }
  100% {
    transform: translateY(0);
  }
}

.exit-up {
  animation: 0.3s exit-up forwards;
}

@keyframes exit-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100vh);
  }
}

.exit-down {
  animation: 0.3s exit-down forwards;
}

@keyframes exit-down {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100vh);
  }
}
