.menu {
  display: flex;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  line-height: 0px;

  h1 {
    font-size: 4vw;
    letter-spacing: 0.3em;
  }
  h2 {
    font-size: 2vw;
  }
  h3 {
    font-size: 1.5vw;
  }
  p {
    font-size: 1.2vw;
  }
  button, input {
    font-size: 1vw
  }

  @media screen and (max-width: 600px) {
    h1 {
      font-size: 8vw;
    }
    h2 {
      font-size: 4vw;
    }
    h3 {
      font-size: 3vw;
    }
    p {
      font-size: 2vw;
    }
    button, input {
      font-size: 2vw
    }
  }
}
