.menu {
  display: flex;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;

  h1 {
    font-size: calc(60 * var(--res));
    letter-spacing: 0.3em;
  }
  h2 {
    font-size: calc(35 * var(--res));
  }
  p {
    font-size: calc(22 * var(--res));
  }
  button, input, span {
    font-size: calc(22 * var(--res));
  }

  /*animation: grow 1s ease;
  @keyframes grow {
    0% { transform: scale(0); }
    100% { transform: scale(1); }
  }*/

  hr {
    width: 97%;
    border-style: none none dashed;
  }

}

.bounce-in-up {
  animation: 0.5s bounce-in-up forwards;
}

@keyframes bounce-in-up {
  0% {
    opacity: 0;
    transform: translateY(2000px);
  }
  60% {
    opacity: 1;
    transform: translateY(-30px);
  }
  80% { transform: translateY(10px); }
  100% { transform: translateY(0); }
}

.bounce-in-down {
  animation: 0.2s bounce-in-down forwards;
}

@keyframes bounce-in-down {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  100% { transform: translateY(-2000px); }
}


