.settings {
  display: flex;
  flex-direction: column;
  border-style: dashed;
  padding: 2%;

  input {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    &:focus {
      outline: none !important;
    }
    border: dashed;
    background: transparent;
    width: 25%;
  }

  img {
    width: calc(220 * var(--res));
    filter: invert(100%);
  }
  h2 {
    margin-bottom: 0;
    margin-top: 2vh;
  }
  p {
    margin-bottom: 0vh;
    margin-top: 0.6vh;
  }
  button, input {
    margin-top: 1.5vh;
  }
}

.settings__title {
  display: flex;
  justify-content: center;
  width: 100%;
}

.settings__2fa__validation {
  display: flex;
  button {
    margin-left: 2vw;
  }
  input {
    text-align: center;
  }
}
