.settings {
  display: flex;
  flex-direction: column;
  border-style: dashed;
  padding: 2%;

  input {
    width: 25%;
  }

  img {
    width: calc(220 * var(--res));
  }

  h2 {
    margin-bottom: 0;
    margin-top: calc(20 * var(--res));
  }

  p {
    margin-bottom: 0vh;
    margin-top: 0.6vh;
  }

  button,
  input {
    margin-top: 0vh;
  }
}

.settings__editable {
  display: flex;
  align-items: center;
  svg {
    width: calc(25 * var(--res));
  }
  svg:hover {
    filter: invert(40%);
  }

  svg:active {
    filter: invert(70%);
  }
  button {
    display: flex;
    align-items: center;
    margin-left: calc(5 * var(--res));
    padding: 0;
    border-style: none;
  }
  form {
    display: flex;
  }
  input {
    display: flex;
    width: calc(180 * var(--res));
  }
}

.settings__picture {
  position: relative;
  img,
  svg {
    border-style: dashed;
    border-radius: 50%;
    width: calc(128 * var(--res));
    height: calc(128 * var(--res));
    object-fit: cover;
    transition: 0.3s ease;
    z-index: 0;
  }
  input {
    display: none;
  }
}

.settings__picture__profile {
  opacity: 1;
  display: block;
}

.settings__picture__edit {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
}

.settings__picture:hover .settings__picture__profile {
  opacity: 0.2;
}

.settings__picture:hover .settings__picture__edit {
  opacity: 1;
  cursor: pointer;
}

.settings__title {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.settings__2fa__validation {
  display: flex;
  align-items: normal;
  justify-content: center;

  button {
    border-left: none;
  }

  input {
    font-size: calc(30 * var(--res));
    text-align: center;
  }
}
