@import "../../const.style.scss";

.game {
  display: flex;
  border-style: dashed;
  width: calc(820 * var(--res));
  height: calc(600 * var(--res));
  padding: calc(10 * var(--res));

  canvas {
    display: flex;
    flex: 0 0 80%;
    width: 100%;
  }
}

.game__render {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  flex-direction: column;

  svg {
    width: calc(30 * var(--res));
  }

  #leave {
    position: absolute;
    top: calc(15 * var(--res));
    left: calc(15 * var(--res));
  }

  button {
    display: flex;
    border-radius: 50%;
    padding: 1%;
    border-width: calc(3 * var(--res)) !important;
  }
}

.game__header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  width: 100%;

  #timer {
    font-size: calc(50 * var(--res));
  }
}

.game__header__player {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20 * var(--res));
  font-weight: bold;
  text-align: center;
  min-width: 30%;
  overflow: hidden;
  span {
    font-size: calc(15 * var(--res));
    font-weight: normal;
  }

  img {
    width: calc(100 * var(--res));
    border-radius: 50%;
  }
}

.game__menu {
  display: flex;
  flex: 0 0 30%;

  flex-direction: column;
  justify-content: space-between;

  h1,
  h2,
  h3 {
    margin: 0;
  }

  h2 {
    font-size: calc(20 * var(--res));
  }

  .game__menu__item__header {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: calc(10 * var(--res));
    //border-bottom: dashed;
  }
}

.amical {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 35%;
  border: dashed;
  overflow: hidden;
}

.duel__list {
  display: flex;
  overflow: overlay;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.duel__list__item {
  display: flex;
  border: dashed;
  width: 90%;
  padding: 1%;
  margin: 1%;
  border-width: calc(3 * var(--res)) !important;
}

.duel__list__item__info {
  display: flex;
  align-items: center;
  flex: 0 0 70%;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  button {
    display: flex;
    padding: 0;
    margin: 0;
    border: none;
  }
  img {
    width: calc(35 * var(--res));
    border-radius: 50%;
    margin-right: calc(10 * var(--res));
  }
  span {
    font-size: calc(17 * var(--res));
    margin: 0;
  }
}

.duel__list__item__action {
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    display: flex;
    padding: 0;
    margin: 0;
    border: none;
  }
  svg {
    width: calc(30 * var(--res));
  }
}

.current {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  border: dashed;
  margin-top: calc(10 * var(--res));
}

.game__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-left: calc(10 * var(--res));
}

.game__content__header {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.game__content__header__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1 {
    margin: calc(10 * var(--res));
  }
}

.game__content__header__stat {
  display: flex;
  flex: 0 0 45%;
  justify-content: space-between;

  .stat__item {
    $size_item: calc(50 * var(--res));
    padding: calc(9 * var(--res));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: $size_item;
    width: $size_item;
    border: dashed;
    min-width: 10%;
    h3 {
      margin: 0;
    }
    span {
      font-size: calc(15 * var(--res));
    }
  }
}

.matchmaking {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  h3 {
    margin-top: 0;
    margin-bottom: calc(20 * var(--res));
  }
}

.matchmaking__content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  button {
    width: calc(250 * var(--res));
    height: calc(170 * var(--res));
  }
  #button__transcendence {
    border-image: linear-gradient(
      to right,
      rgba(13, 213, 252),
      rgba(243, 243, 21),
      rgba(255, 153, 51)
    );
    border-image-slice: 1;

    font-family: "system-ui" !important;
    font-size: calc(17 * var(--res));
    background: linear-gradient(
      to right,
      rgba(13, 213, 252),
      rgba(243, 243, 21),
      rgba(255, 153, 51)
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.waiting {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.waiting__search {
  display: flex;
  flex: 0 0 70%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.waiting__search__title {
  display: flex;
  align-items: center;
  margin-bottom: calc(20 * var(--res));

  h3 {
    margin: 0;
  }

  h3 {
    font-size: calc(40 * var(--res));
  }

  .dot {
    display: flex;
    margin-left: calc(20 * var(--res));

    #dot1 {
      height: 100%;
      animation: bounce 2s ease infinite 1s;
    }
    #dot2 {
      animation: bounce 2s ease infinite 1.3s;
    }
    #dot3 {
      animation: bounce 2s ease infinite 1.6s;
    }
  }
}

.current__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.no-room {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  span {
    font-size: calc(18 * var(--res));
  }
}

.current__item {
  display: flex;
  justify-content: space-around;
  width: 90%;
  padding-top: 2%;
  padding-bottom: 2%;
  h3 {
    margin: 0;
  }
  border: dashed;
  border-width: calc(3 * var(--res)) !important;
}

.current__item__info {
  display: flex;
  flex-direction: column;
  flex: 0 0 80%;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  overflow: hidden;
  span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  #separator {
    margin: 0 calc(10 * var(--res));
  }
}

.current__profile-picture {
  display: flex;
  align-items: center;
  span {
    font-size: calc(13 * var(--res));
  }
  button {
    border: none;
  }
  img {
    width: calc(30 * var(--res));
    border-radius: 50%;
  }
}

.current__score {
  display: flex;
  span {
    font-size: calc(17 * var(--res));
  }
}

.current__item__spectate {
  display: flex;
  button {
    padding: 0;
    margin: 0;
    border: none;
  }
  svg {
    width: calc(35 * var(--res));
  }
}
