.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 1vw;
}

.sidebar__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: dashed;
  border-color: white;
  img {
    cursor: pointer;
    width: calc(55 * var(--res));
    height: auto;
    margin-bottom: 35%;
    margin-top: 35%;
    padding: 0.8vw;
    transition: 0.3s;
    border-radius: 50%;
    border-style: dashed;
    border-color: transparent;
  }

  .selected {
    border-style: dashed;
    border-color: white;
    animation: shake 0.5s ease;
    @keyframes shake {
      0%, 100% {transform: translateX(0);}
      10%, 50%, 90% {transform: translateX(-5px);}
      30%, 70% {transform: translateX(5px);}
    }
  }

  img:hover {
    filter: invert(40%);
  }
  img:active {
    filter: invert(70%);
  }

  @media screen and (min-width: 800px) {
    img {
      width: 30px;
      padding: 8px;
    }
  }
}
