
/* .chat-icon {
  justify-content: center;
} */

.exit {
  position: absolute;
  margin-bottom: 0px !important;
  bottom: 21px;
  left: 32px;
}

.settings {
  position: absolute;
  bottom: 50px;
  left: 32px;
}
