@import '../../const.style.scss';

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 1vw;
  z-index: 10;
}

.sidebar__content {
  position: relative;
}

.sidebar__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $bg-color;
  opacity: $opacity-content-bg;
  z-index: -1;
}

.test {
  fill:rgba(255,250,220,0.4);
  stroke: rgba(0,0,0,0.7);
  stroke-width:2;
}

.sidebar__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: dashed;

  svg {
    border-style: dashed;
    border-radius: 50%;
    border-color: transparent;

    transition: 0.3s;
    width: calc(40 * var(--res));
    padding: calc(3 * var(--res));
    border-width: calc(3 * var(--res)) !important;
    margin-bottom: calc(20 * var(--res));
    margin-top: calc(20 * var(--res));
  }

  :hover {
    filter: invert(40%);
  }

  :active {
    filter: invert(70%);
  }

  .selected {
    border-color: $white-color;

    animation: gelatine 0.4s ease;
    @keyframes gelatine {
      from, to { transform: scale(1, 1); }
      25% { transform: scale(0.9, 1.1); }
      50% { transform: scale(1.1, 0.9); }
      75% { transform: scale(0.95, 1.05); }
    };
  }

}
