.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.sidebar__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: dashed;
  border-color: white;
  img {
    cursor: pointer;
    width: 4vw;
    height: auto;
    margin-bottom: 35%;
    margin-top: 35%;
    padding: 0.8vw;
    transition-duration: 0.3s;
    border-radius: 50%;
  }

  .selected {
    border-radius: 50%;
    border-style: dashed;
    border-color: white;
  }

  img:hover {
    filter: invert(40%);
  }
  img:active {
    filter: invert(70%);
  }

  @media screen and (min-width: 800px) {
    img {
      width: 30px;
      padding: 8px;
    }
  }
}
