@import "./const.style.scss";

body {
  --res: calc(0.01 * 10vmin);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $bg-color;
}

.app {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  user-select: none;

  * {
    font-family: "Arcade", "Syntax" !important;
    color: $white-color !important;
    -webkit-user-drag: none;
    letter-spacing: 0.1em;
    border-width: calc(5 * var(--res)) !important;
  }

  svg {
    fill: $white-color;
  }

  button {
    padding: 2%;
    border: dashed;
    background: transparent;
    transition: 0.3s;
    cursor: pointer;
    &:hover {
      opacity: 0.6;
    }
    &:active {
      opacity: 0.3;
    }
    &:disabled,
    &[disabled] {
      opacity: 0.3;
      cursor: not-allowed;
    }
  }

  input {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    &:focus {
      outline: none !important;
    }
    border-style: dashed;
    border-color: $white-color;
    background: transparent;
    &:disabled,
    &[disabled] {
      opacity: 0.3;
      cursor: not-allowed;
    }
  }

  ::-webkit-scrollbar {
    width: calc(7 * var(--res));
  }

  ::-webkit-scrollbar-thumb {
    background: $white-color;
    border-radius: 10px;
  }
}

#trans {
  svg {
    width: calc(30 * var(--res));

    fill: $bg-color;
    background: linear-gradient(
      to right,
      rgba(13, 213, 252),
      rgba(243, 243, 21),
      rgba(255, 153, 51)
    );
  }
}
#classic {
  svg {
    width: calc(30 * var(--res));
    fill: $bg-color;
    background: $white-color;
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20%);
  }
  60% {
    transform: translateY(-7%);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
