@import './const.style.scss';

body {
  --res: calc(0.01 * 10vmin);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $bg-color;
}

.app {
  display: flex;    // TODO check if postion block is better
  width: 100%;
  height: 100vh;
  overflow: hidden;
  user-select: none;

  * {
    font-family: 'Arcade' !important;
    color: $white-color !important;
    -webkit-user-drag: none;
    letter-spacing: 0.1em;
    border-width: calc(5 * var(--res)) !important;
  }

  svg {
    fill: $white-color;
  }

  button {
    padding: 2%;
    border: dashed;
    background: transparent;
    transition: 0.3s;
    cursor: pointer;
    &:hover {
      filter: invert(40%);
    }
    &:active {
      filter: invert(70%);
    }
  }

  input {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    &:focus {
      outline: none !important;
    }
    border-style: dashed;
    border-color: $white-color;
    background: transparent;
  }

}

