$number_ball: 10;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #14151A;

  //box-sizing: border-box;
}

.app {
  display: flex;
}

.bg {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.ball {
  position: relative;
  display: flex;
  right: 100px;
  width: 30px;
  height: 30px;
  margin: 5px;
  //background-color: blueviolet;
  animation: 20s linear infinite;
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: white;
  }
  @for $i from 1 through $number_ball {
    &:nth-of-type(#{$i}) {
      @if $i % 2 == 0 {
        animation-name: ballAnimationLeft#{$i};
      } @else {
        animation-name: ballAnimationRight#{$i};
      }
      animation-duration: random(10000) + 6000ms;
      animation-delay: random(6000) + 100ms; // less than max duration
    }
    @keyframes ballAnimationLeft#{$i} {
      $random: 1 + random(10) / 10;
      0% {
        transform: translateX(130vw)
          translateY(random(100) + vh)
          scale($random);
      }
      100% {
        transform: translateX(-30vw)
          translateY(random(100) + vh)
          scale($random);
      }
    }
    @keyframes ballAnimationRight#{$i} {
      $random: 1 + random(10) / 10;
      0% {
        transform: translateX(-30vw)
          translateY(random(100) + vh)
          scale($random);
      }
      100% {
        transform: translateX(130vw)
          translateY(random(100) + vh)
          scale($random);
      }
    }
  }
}


  //animation: ballAnimation 15s linear infinite;
  //animation-duration: calc(15s / random(10));




