@import "../../const.style.scss";

$search_bar_size: calc(250 * var(--res));

#full {
  width: 100%;
}

.profile {
  width: calc(750 * var(--res));
  display: flex;
  flex-direction: column;
  border-style: dashed;
  align-items: center;
  padding: 2%;
}

.profile__header {
  width: 100%;
  white-space: normal;
  display: flex;
  justify-content: space-between;
}

.profile__header__user {
  display: flex;
  flex: 0 0 60%;
}

.profile__header__user__info {
  display: flex;
  flex-direction: column;
  word-break: break-all;

  h2 {
    margin: 0;
  }
  svg {
    width: calc(35 * var(--res));
  }
  span {
    margin-left: calc(10 * var(--res));
  }

  .name {
    display: flex;
    align-items: center;
    flex: 0 0 50%;
  }

  .elo {
    display: flex;
    flex: 0 0 50%;
    align-items: flex-start;
    .elo__item {
      display: flex;
      align-items: center;
    }
  }

  margin-left: calc(30 * var(--res));
}

.profile__header__user__avatar {
  img {
    border-style: dashed;
    border-radius: 50%;
    width: calc(140 * var(--res));
  }
}

.profile__header__right {
  display: flex;
  margin-top: calc(30 * var(--res));
  margin-left: calc(30 * var(--res));
}

.profile__header__search {
  span {
    margin-bottom: calc(7 * var(--res));
  }
}

.profile__header__search__item {
  display: flex;
  border-style: dashed;
  width: $search_bar_size;

  svg {
    width: calc(35 * var(--res));
  }
  input {
    width: 100%;
    border-style: none;
  }
}

.profile__stats {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.profile__stats__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-style: dashed;
  width: 20%;
  margin: calc(9 * var(--res));
  font-size: calc(20 * var(--res));
  span {
    font-size: calc(18 * var(--res));
  }
}

.profile__body {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: calc(20 * var(--res));
  height: calc(350 * var(--res));
}

.profile__body__history {
  display: flex;
  flex-direction: column;
  border-style: dashed;
  width: 80%;
  margin: calc(9 * var(--res));
}

.profile__body__history__title {
  display: flex;
  h3 {
    margin-left: calc(20 * var(--res));
  }
}

.profile__body__history__list {
  display: flex;
  flex-direction: column;

  overflow-x: auto;
}

.profile__body__history__item {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  img {
    border-radius: 50%;
    width: calc(45 * var(--res));
    cursor: pointer;
  }
  svg {
    width: calc(35 * var(--res));
  }
}

.profile__body__friends {
  display: flex;
  flex-direction: column;
  border-style: dashed;
  flex-basis: 45%;

  margin: calc(9 * var(--res));
}

.profile__body__friends__title {
  display: flex;

  h3 {
    margin-left: calc(20 * var(--res));
  }
}

.profile__body__friends__list {
  display: flex;
  flex-wrap: wrap;

  overflow-x: auto;
  img {
    margin: calc(2 * var(--res));
    border-radius: 50%;
    width: calc(45 * var(--res));
    cursor: pointer;
  }
}

.info {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info__elo {
  font-size: calc(15 * var(--res));
}

.trophy-indicator {
  display: flex;
  width: 10%;
}

.suggestions {
  width: $search_bar_size;
  overflow-y: auto;
  max-height: calc(200 * var(--res));
  background-color: $bg-color;
  position: absolute;
  border-style: dashed;
  border-top: 0;
  margin-top: 0;
  padding-left: 0;
  list-style: none;
  cursor: pointer;

  li {
    padding: calc(10 * var(--res));
    img {
      border-radius: 50%;
      width: calc(20 * var(--res));
    }
    span {
      margin-left: calc(10 * var(--res));
      font-size: calc(22 * var(--res));
    }
  }

  li:not(:last-of-type) {
    border-bottom: dashed;
  }

  .suggestion-active,
  .suggestions li:hover {
    cursor: pointer;
    &:after {
      font-size: calc(18 * var(--res));
      content: " ◄";
      margin: 0;
    }
  }
}

.no-suggestions {
  position: absolute;
  margin-top: 0;
}
