.chat-window {
  width: 640px;
  height: 1024px;
  padding-left: 441px;
  border-right: 1px solid grey;
}

.chat-header {
  width: 640px;
  height: 80px;
  text-align: center;
  border-bottom: 1px solid grey;
}

.chat-body {
  width: 640px;
  height: 724px;
  border-bottom: 1px solid grey;
}

.sender {
  background-color: #064FBD;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  border-radius: 12px;
  width: fit-content;
  height: fit-content;
  padding: 8px 8px;
  margin-left: auto;
  margin-bottom: 10px;
  position: relative;
  justify-content: flex-end;
}

.receiver {
  background-color: #F1F1F1;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  border-radius: 12px;
  width: fit-content;
  height: fit-content;
  padding: 16px 8px;
  margin-right: auto;
  position: relative;
  justify-content: flex-start;
}

.chat-footer {
  width: fit-content;
  height: 96px;
  margin: auto;
  border: 1px dashed grey;
  display: flex;
  background-color: grey;
}

.chat-footer input {
  text-align: center;
  width: fit-content;
  height: fit-content;
  margin: auto 0 auto auto;
  border: none;
}

.chat-footer input::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
}

.chat-footer img {
  width: 18px;
  height: 18px;
  margin: auto auto auto 0;
  padding-left: 5px;
}