@import "../../const.style.scss";

$height_chat: calc(800 * var(--res));
$width_chat: calc(450 * var(--res));

::-webkit-scrollbar{
    width: calc(5 * var(--res));
}

::-webkit-scrollbar-thumb{
    border-radius: calc(5 * var(--res));
    background-color: $white-color;
}

.chat {
    display: flex;
    flex-direction: row;
    border-style: dashed;
    width: $height_chat;
    height: $width_chat;
}

.chat__list {
    display: flex;
    flex-direction: column;
    flex : 0 0 22%;
    padding: 1% 0.4% 1% 1%;
    border-right-style: dashed;
    min-width: 0;
}

.chat__list__header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(22 * var(--res));
    border-bottom-style: dashed;
    padding: 1% 1% 3% 1%;
}

.chat__list__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-style: dashed;
    button {
        display: flex;
        border-style: none;
        align-items: center;
    }

    svg {
        width: calc(27 * var(--res));
        border-radius: 50%;
    }
}

.chat__list__body{
    display: flex;
    flex: 0 0 80%;
    flex-direction: column;
    padding: 3% 0% 3% 0%;
    margin-top: 3%;
    margin-bottom: 3%;
    overflow-y: auto;
    overflow-x: hidden;
    min-width: 0;
}

.chat__list__items {
    display: flex;
    border-style: dashed;
    justify-content: space-around;
    align-items: center;
    padding: 1% 0% 1% 0%;
    margin: 2.4%;
    transition: 70ms;
    min-width: 0;
    cursor: pointer;

    &:hover {
        transform: scale(1.10);
    }
    
    li {
        display: flex;
        min-width: 0;
        width : 100%;
        justify-content: flex-start;
        align-items: center;
        
        .avatar {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0% 2% 0% 2%;
        }

        svg, img {
            width: calc(20 * var(--res));
            border-radius: 50%;
        }

        .text__notif {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 100%;
            padding-left: 4%;
            padding-right: 4%;
            overflow-y: hidden;
            span {
                font-size: calc(19 * var(--res));
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }

}

.notif {
    border-radius: 100%;
    height: 0.4em;
    width: 0.4em;
    background-color: $white-color;
}

.conversation {
    display: flex;
    width: 100%;
}

.conversation__elems{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.conversation__messages__list {
    display: flex;
    flex-direction: column;
    flex: 0 0 85%;
    padding: 1%;
    overflow-y: auto;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 0%;
}

.conversation__messages__items {
    display: flex;
    align-items: center;

    img {
        width: calc(13 * var(--res));
        border-radius: 100%;
    }

    &.self{
        flex-direction: row-reverse;
    }
    
    &.other{
        flex-direction: row;
    }
}

.conversation__messages__text{
    display: flex;
    border-style: dashed;
    border-width: calc(2 * var(--res)) !important;
    font-size: calc(14 * var(--res));
    border-radius: calc(15 * var(--res));
    padding: 0.25% 1.5% 0.25% 1.5%;
    margin: 1%;
    max-width: 70%;
    word-break: normal;
    overflow-wrap: anywhere;
}

.conversation__options {
    display: flex;
    flex: 0 0 20%;
    flex-direction: column;
    border-left-style: dashed;
    padding: 1%;
    min-width: 0;
}


.conversation__options__title {
    display: flex;
    flex-direction: column;
    flex: 0 0 25%;
    padding-bottom: 4%;
    border-bottom-style: dashed;
    justify-content: center;
    
    img {
        width: calc(40 * var(--res));
        height: calc(40 * var(--res));
        border-radius: 100%;
        align-self: center;
    }


    .text {
        display: flex;
        flex-direction: column;
        align-items: center;

        span {
            width: fit-content;
            max-width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        
        .date {
            font-size: calc(11 * var(--res));
        }
    }
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 13%;
}

.input__form {
    padding-left: 2%;
    border-style: dashed;
    border-radius: calc(15 * var(--res));
}

.send__button{
    padding-left: 1%;
    width:  calc(30 * var(--res));
    height: calc(30 * var(--res));
}

.create__channel{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
    h2 {
        display: flex;
        flex: 0 0 13%;
        align-items: center;
    }
    

    form {
        display: flex;
        flex: 0 0 34%;
        flex-direction: column;
        align-items: center;

        input {
            width: 100%;
            border-style: dashed;
            margin: 4%;
        }

        .create__chan__status {
            display: flex;
            justify-content: space-around;
            
            button{
                min-width: 45%;
                margin: 4%;
    
                &:hover {
                    transform: scale(1.10);
                    filter: none;
                    background-color: green;
                }

                &:focus {
                    @extend :hover;
                    background-color: red;
                }

                &:active {
                    @extend :hover;
                    background-color: blue;
                }
            }
        }

        .create__chan__passwords{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 70%;
            transition: 70ms;
        }

        .create__chan__validator{
            display: flex;
            margin: 4%;
        }
    }
}