@font-face {
  font-family: 'Arcade';
  src: url(../../assets/fonts/ARCADECLASSIC.ttf);
}

.login {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1 {
    margin-bottom: 20%;
    font-size: 5vw;
    letter-spacing: 0.5em;
    text-shadow: 0 0 8px #fff;
  }
 }


.loginBox {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 1%;
  border-style: dashed;
  border-color: white;
  h2 {
    font-size: 2.5vw;
  }
}


.listConnection {
  display: flex;
  flex-direction: column;
  align-items: center;
  //background-color: aqua;
  button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  p {
    margin-left: 1vw;
    font-size: 1.5vw;
  }
  img {
    width: 20%;
    max-width: 70px;
    height: auto;
    fill: white;  // TODO edit color for 42 color
  }
}
