@font-face {
  font-family: 'Arcade';
  src: url(../../assets/fonts/ARCADECLASSIC.ttf);
}

.login {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 20%;
  width: 40%;
  top: 40%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  overflow: hidden;
  border-style: dashed;
  border-width: 1vw;
  border-color: white;
  h1 {
    position: absolute;
    bottom: 65%;
    left: 0;
    right: 0;
    text-align: center;
    font-family: 'Arcade', sans-serif;
    font-size: 200%;
    color: white;
  }
}

.listConnection {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 50%;
    margin-top: 10%;
    //background-color: aqua;
    button {
      display: flex;
      width: 70%;
      height: 60%;
      margin-left: auto;
      margin-right: auto;
      background-color: Transparent;
      border-style: dashed;
      border-width: 0.4vw;
      border-color: white;
    }
    p {
      margin-top: auto;
      margin-bottom: auto;
      margin-left: 20%;
      font-size: 100%;
      font-family: 'Arcade', sans-serif;
      color: white;
    }
    img {
      margin-top: auto;
      margin-bottom: auto;
      margin-left: aut;
      width: 10%;
    }
  }
