@font-face {
  font-family: 'Arcade';
  src: url(../../assets/fonts/ARCADECLASSIC.ttf);
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    margin-bottom: 20%;
    font-family: 'Arcade';
    font-size: 3em;
    letter-spacing: 0.5em;
    color: #fff;
    text-shadow: 0 0 8px #fff;
  }
}

.loginBox {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 40vw;

  //height: 20vh;
  //border-width: 1vw;
  border-style: dashed;
  border-color: white;
  h2 {
    text-align: center;
    font-family: 'Arcade', sans-serif;
    font-size: 220%;
    letter-spacing: 0.1rem;
    color: white;
  }
}

.listConnection {
  display: flex;
  flex-direction: column;
  //background-color: aqua;
  button {
    margin: 1vh 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: Transparent;
    border-style: dashed;
    //border-width: 0.2vw;
    border-color: white;
  }
  p {
    margin-left: 1vw;
    font-size: 140%;
    font-family: 'Arcade', sans-serif;
    color: white;
  }
  img {
    width: 10%;
    fill: white;  // TODO edit color for 42 color
  }
}
