.authInput  {
  display: flex;
  margin: auto;
  justify-content: center;
  width: 100% !important;
  margin-top: 10%;
  input {
    width: 2.5em !important;
    height: 2.5em !important;
    border: none !important;
    border-radius: 0px !important;
    margin-right: 2px;
    font-size: 20px;
    color: black;
  }

  /*  */

  /*@media screen and (max-width: 440px) {
    input {
      margin-right: 10px;
    }
  }*/
}
